@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './main-style.css';

*{
    font-family: var(--text-font);
    color: var(--main-text-color);
}

.main-app-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-menu{
    width: var(--main-menu-width);
    height: 100%;
    background-color: var(--main-accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-window{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.middle-part{
    height: 93vh;
    width: 100vw;
    display: flex;
    background-color: var(--main-back-color)
}

.header{
    height: 7vh;
    background-color: var(--main-accent-color);
    display: flex;
    align-items: center;
}

.angle-header-element{
    width: var(--main-menu-width);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.notifications-menu{
    width: 300px;
    height: 300px;
    overflow: auto;
    background-color: var(--second-back-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--main-border-color);
    padding: 10px;
}

.load-notifications-button{
    background-color: var(--second-back-color);
    border: 0;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: var(--second-text-color);
}

.notification-menu-button{
    margin: 10px;
}

.exit-button{
    margin: 10px;
    margin-left: auto;
}