#login-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 350px;
    height: 350px;
    

    margin: auto;
    background-color: rgb(225, 230, 235);
    border-radius: 10px;
    padding: 20px;
}

#login-main-container > * {
    margin: 5px auto;
}