@import './main-style.css';

.login-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 350px;
    height: 350px;
    

    margin: auto;
    background-color: var(--main-accent-color);
    color: var(--text-accent-color);
    border-radius: 10px;
    padding: 20px;
}

.login-main-container > * {
    margin: 10px auto;
    color: var(--text-accent-color);
}

.key-input{
    border: 2px solid var(--border-accent-color);
    border-radius: 5px;
    color: var(--main-text-color);
}

.login-input{
    border: 2px solid var(--border-accent-color);
    border-radius: 5px;
    color: var(--main-text-color);
}

.login-error-message{
    color: var(--warning-accent-color);
}