@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    --main-back-color:#F4F6F8;
    --second-back-color:#FFFFFF;
    --main-accent-color: #1f7e22;
    --second-accent-color: #175f1a;
    --alarm-color: rgb(200, 35, 10);
    --alarm-element-color: rgb(226, 40, 15);
    --alarm-element-accent-color: rgb(186, 40, 15);
    --alarm-element-active-color: rgb(146, 40, 15);
    --main-text-color: #333333;
    --second-text-color: #666666;
    --main-border-color: #E0E0E0;
    --warning-main-color: rgb(197, 140, 17);
    --warning-accent-color: orange;
    --text-font: "Roboto", sans-serif;
}