@import './main-style.css';

.users-table-row > *{
    text-align: center;
    padding: 10px;
    border-top: 2px solid var(--main-border-color);
}

.users-table-row *{
    color: var(--second-text-color);
}

.user-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    width: 255px;
    border-radius: 10px;
}

.user-facility-name{
    background-color: var(--main-accent-color);
    color: var(--text-accent-color);
    padding: 5px;
    border-radius: 5px;
}

.user-element > *{
    margin: 10px;
}

.row-buttons-container{
    display: flex;
    flex-wrap: wrap;
}

.user-facility-select{
    background-color: var(--main-accent-color);
    border: 0;
    color: var(--text-accent-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.user-facility-select:hover{
    background-color: var(--second-accent-color);
}

.user-facility-select:active{
    background-color: var(--accent-active-color);
}

.user-facility-select *{
    color: var(--text-accent-color);
}

