.create-group-dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-group-dialog-container *{
    margin: 10px;
    text-align: center;
}

.group-name-input{
    width: 150px;
    text-align: center;
}