.create-section-dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-section-dialog-container *{
    margin: 10px;
    text-align: center;
}

.section-name-input{
    width: 150px;
    text-align: center;
}