@import '../../main-style.css';

.factility-element{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.add-element-button{
    border: 0 solid white;
    background-color: var(--main-accent-color);
    color: var(--text-accent-color);
    border-radius: 5px;
    cursor: pointer;
}

.add-element-button:hover{
    background-color: var(--second-accent-color);
}

.add-element-button:active{
    background-color: var(--accent-active-color);
}

.groups-panel{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: auto;
    background-color: var(--second-back-color);
    border-right: 2px solid var(--main-border-color);
    padding: 10px;
    overflow: auto;
}

.groups-panel > *{
    margin-top: 5px;
    margin-bottom: 5px;
}

.according-sector{
    padding: 5px;
    border-bottom: 2px solid var(--main-border-color);
    text-align: center;
    color: var(--main-text-color);
}

.according-element{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid gray;
    font-size: medium;
}

.according-element:hover{
    background-color: rgb(235, 235, 240);
}

.according-element:active{
    background-color: rgb(200, 200, 200);
}

.sensors-panel{
    background-color: var(--second-back-color);
    border: 2px solid var(--main-border-color);
    width: 75%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
}

.main-group-page-container{
    display: flex;
    height: 85vh;
    width: 100%;
    margin: auto 50px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--second-back-color);
}

.group-according-element{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    
    /* background-color: var(--second-back-color); */
    background-color: var(--main-accent-color);
    /* border: 2px solid var(--main-border-color); */
    border:2px solid var(--border-accent-color);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.group-according-element *{
    /* color: var(--second-text-color); */
    color: var(--text-accent-color);
}

.group-according-element:hover{
    /* background-color: var(--main-hover-color); */
    background-color: var(--second-accent-color);
}

.group-according-element:active{
    background-color: var(--accent-active-color);
}