@import '../../main-style.css';
.position-control{
    display: inline-flex;
    flex-direction: column;
}

.position-button{
    padding: 0px;
    /* background-color: var(--second-back-color); */
    background-color: var(--main-accent-color);
    /* border: 2px solid var(--main-border-color); */
    border: 0 solid white;
    border-radius: 5px;
    cursor: pointer;
}

.position-button:hover{
    background-color: var(--second-accent-color);
}

.position-button:active{
    background-color: var(--accent-active-color);
}

.alarm-counter *{
    color: var(--alarm-element-color);
    font-size: large;
}

.alarm-counter{
    margin: 5px;
}

.element-name{
    margin-left: auto;
    margin-right: auto;
}

.visible-button{
    background-color: var(--main-accent-color);
    border: 0;
    color: var(--text-accent-color);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;  
}

.visible-button:hover{
    background-color: var(--second-accent-color);
}

.visible-button:active{
    background-color: var(--accent-active-color);
}