.position-control{
    display: inline-flex;
    flex-direction: column;
}

.position-button{
    padding: 0px;
}

.alarm-counter{
    color: rgb(202, 14, 14);
    font-size: large;
}

.element-name{
    margin-left: auto;
    margin-right: auto;
}