.section-element{
    padding: 20px;
    border-radius: 10px;
    font-size: medium;
    display: flex;
    flex-direction: column;
}

.sensors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}