@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../main-style.css';

.nav-button-container{
    display: flex;
    margin: 15px;
}

.nav-button{
    font-size: medium;
    /* box-shadow: 0 5px 5px gray; */
    background-color: var(--main-accent-color);
    border: 2px solid var(--border-accent-color);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.nav-button:hover{
    background-color: var(--second-accent-color)
}
.nav-button:active{
    background-color: var(--accent-active-color)
}