@import '../../main-style.css';

.alarmed-sensors-menu{
    background-color: var(--alarm-color);
    color: aliceblue;
    /* border: 2px solid black; */
    box-shadow: 0 5px 5px gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.alarmed-sensor-element{
    color: aliceblue;
    padding: 10px;
    background-color: var(--alarm-element-color);
    border: 2px solid aliceblue;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}

.alarmed-sensor-element:hover{
    background-color: var(--alarm-element-acces-color);
}

.alarmed-sensor-element:active{
    background-color: var(--alarm-element-active-color);
}