.create-user-dialog-container{
    display: flex;
    flex-direction: column;
}

.create-user-dialog-container *{
    text-align: center;
}

.create-user-dialog-container > *{
    width: fit-content;
    margin: 5px auto;
    padding: 10px;
}