#main-section-element{
    background-color: gray;
}
.groups{
    background-color: royalblue;
}
.group{
    background-color: blueviolet;
}
.group-sensors-container{
    background-color: paleturquoise;
}