@import '../main-style.css';

.measurements-statisitc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.history-data-button{
    border: solid 0px gray;
    border-radius: 5px;
    background-color: var(--main-accent-color);

    min-width: 50px;
    min-height: 30px;

    color: var(--text-accent-color);
    cursor: pointer;
}

.statistic-chart-contaier{
    width: 100%;
    height: 100%;
}