@import '../main-style.css';

.base-info-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    text-align: center;
    height: fit-content;
}

.imei-container{
    font-size: large;
}

.measurement-channels-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.measurement-channels-container *{
    margin-top: 3px;
    margin-bottom: 3px;
}

.sensor-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--main-border-color);
    border-radius: 10px;
}

.sensor-info-container{
    display: flex;
    justify-content: space-evenly;
}