#main-settings-container{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    height: 100%;
    width: fit-content;
}

#main-settings-container > *{
    margin: 5px;
}

.ok-message{
    text-shadow: 0 0 2px black;
}

.error-message{
    text-shadow: 0 0 1px black;

}