@import '../main-style.css';

.sensor-mini{
    border-radius: 10px;

    background-color: var(--main-accent-color);

    /* box-shadow: 3px 3px 5px gray; */

    min-width: 100px;
    min-height: 100px;

    max-width: 250px;
    max-height: 250px;

    margin: 5px;
    padding: 5px;
    text-align: center;

    color: var(--text-accent-color);

    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.sensor-mini:hover{
    background-color: var(--second-accent-color);
}
.sensor-mini.alarmed{
    background-color: var(--alarm-color);
}

.sensor-mini.alarmed:hover{
    background-color: var(--alarm-element-accent-color);
}

.sensor-mini *{
    color: var(--text-accent-color);
}